.home {
	text-align: center;
	width: 100%;
	min-height: 100vh;
	padding: 1rem 0.4rem;
}

.home__title {
	color: #555b6e;
	font-size: 2rem;
	font-weight: bolder;
	margin: 1.5rem 0 2.5rem 0;
}

.home__button--create {
	font-size: 1.5rem;
	font-weight: 600;
	border: 1.5px solid #89b0ae;
	border-radius: 1rem;
	background-color: #a4c3b2;
	padding: 0.8rem 1rem;
	color: #f6fff8;
}

.home__button--create:hover {
	background-color: #a4c3b290;
	border: 1.5px solid #8fb2b0;
	color: #555b6e6f;
}

.home__lists {
	margin: 2.5rem auto 1rem auto;
	background-color: #faf9f9;
	padding: 0.2rem 0.5rem;
	border-radius: 1rem;
	max-width: 400px;
}

.home__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	word-break: break-word;
}

.home__list--name {
	background-color: #cce3de;
	border-radius: 1rem;
	color: #3d5a80;
	margin: 0.3rem 0;
	flex-grow: 1;
}

.home__list--section {
	padding: 1rem 1rem;
	cursor: pointer;
}

.home__list--name:hover {
	background-color: #cce3de7b;
}

.home__list--delete {
	color: #e76f51;
	background-color: #cce3de;
	margin: 0.3rem 0;
	border-radius: 0.8rem;
	min-width: 4rem;
	height: 3.2rem;
	padding: 0.55rem;
	cursor: pointer;
}
